.front_skills {
    display: inline-block;
    width: 100%;
    background-color: #222222;
    flex: 0 1 100%;
    align-items: center;

}
.content{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #222222;
}

.front_skills_title {
    display: inline;
    height: 12rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    text-align: left;

}

.front_skills_title h2
{

    padding: 4rem  ;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    background-color: #333333;
    /* padding-left: 10rem; */
}


.doing{
    display: inline-block;
    align-items: left;
    width: 80vh;
    background-color: #222222;
    padding: 2rem;
}


.doing h3{
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    display: inline-block;

   

}
.paragraph{
    height: 10rem;
    padding-bottom: 2rem;
}
.tittle-paragraph{
    display: flex;
    /* padding-top: 2rem; */
}
.tittle-paragraph h4{
    font-family: 'poppins', sans-serif;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: 1.5;
    padding-top: 1.5rem;
    padding-left: 1rem;
    
}


.paragraph p{
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    line-height: 1.5;
    padding-bottom: 1rem;
    
}

.paragraph img{
    display: flex;
    height: 4rem;
    padding: 1rem 0;
    margin: 0;
}

.percentages{
    width: 25rem;
}

@media screen and (max-width: 900px){
    .front_skills{
        width: 100%;
        height: 100%;
        background-color: #222222;

    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        background-color: #222222;
    }

    .front_skills_title{
        height: 12rem;
        display: inline;
        background-color: #33333333;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 700;
        font-family: 'poppins', sans-serif;
        text-align: left;
        /* padding-left: 0; */
    }
    .front_skills_title h2{
        /* overflow: hidden;
        width: 100%; */
        padding: 4rem 2rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    
    .doing{
        display: inline-block;
        width: auto;
        align-items: left;
        background-color: #222222;
    }

    .doing h3{
        padding-top:4rem;
        font-family: 'poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        color: #ffffff;
        text-align: left;
        /* display: block; */
        /* padding-left: 2rem; */
    }

    .paragraph{
        width: 100%;
        height: 100%;
       /*  padding: 2rem; */
    }



    
}